@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.badge-overrides((
    background-color: blue,
  ));
}

