<div class="container mx-auto p-4 max-w-xl">
    <h2 class="text-2xl font-semibold mb-4">Settings</h2>

    <div class="p-4 border rounded mb-4">
        <div class="text-sm opacity-70">Logged as</div>
        <div class="font-semibold">
            {{ accountService.currentUser()?.email }}
        </div>
    </div>

    <div class="p-4 border rounded mb-4">
        <div class="flex items-center justify-between">
            <div>
                <div class="font-semibold">Theme</div>
                <div class="text-sm opacity-70">Dark / Light mode</div>
            </div>

            <button class="px-3 py-2 border rounded" (click)="toggleTheme()">
                {{ isDark ? 'Dark' : 'Light' }}
            </button>
        </div>
    </div>


    <div class="p-4 border rounded">
        <div class="flex items-center justify-between">
            <div class="font-semibold">Account</div>
            <button class="px-3 py-2 border rounded" (click)="logout()">
                Logout
            </button>
        </div>
    </div>
</div>